/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------------------------END RESET----------------------------------------*/

html {
  font-family: 'Press Start 2P', cursive;
  background : #C3C3C3
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 4em;
  color: #3D4C53;
}

header {
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 5%;
}

main {
  width: 100%;
  height: 80%;
}

.control-container {
  width: 100%;
  height: 60%;
  padding: 5% 25% 5% 25%;
}

.control-left {
  width: 50%;
  height: 100%;
  /*display: inline;*/
  float: left;
  text-align: center;
}

.control-right {
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}

.direction-button  {
  font-family: 'Press Start 2P', cursive;
  background: #3D4C53;
  margin : 20px 20px;
  width : 100px;
  height : 80px;
  text-align : center;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  color: white;
}

.direction-button:focus {
	outline: none;
}

.control-button  {
  font-family: 'Press Start 2P', cursive;
  margin : 20px 20px;
  width : 80px;
  height : 80px;
  text-align : center;
  border: none;
  border-radius: 80px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  color: white;
}

.control-button:focus {
	outline: none;
}

.control-button.a {
  background: #ED1B24;
}

.control-button.b {
  background: #FEF200;
}

.control-button.x {
  background: #3F47CC;
}

.control-button.y {
  background: #23B14D;
}

.online-status {
	width: 100%;
	height: 10%;
	text-align: center;
}
